.sendMessages
  margin-top: 50px
  margin-bottom: 50px
  display: flex
  justify-content: center



.layout
  width: 980px
  margin: auto


.sidebar
  width: 320px
  float: right

.content
  margin-right: 350px
  padding: 10px
  float: left
