<div class="sendMessages">
  <form (ngSubmit)="sendMessage()">
    <input type="text" name="messageText" [(ngModel)]="messageText" style="width: 500px"/>
    <button type="submit">Send</button>
  </form>
</div>

<div class="layout">
  <div class="content" *ngFor="let message of messages">
    <mat-card class="matCard">
      <p>Messages: {{ message.message }}</p>
    </mat-card>
  <div class="sidebar">
    <mat-card class="matCard">
      <p>Author: {{ message.user}} </p>
    </mat-card>
  </div>
  </div>
</div>
