<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="grey" fxLayout="row" fxLayoutAlign="space-between centre">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          <a routerLink="/">Messages</a>
        </button>
      </div>
      <nav *ngIf="(user | async) else userMenu">
        <button mat-icon-button [matMenuTriggerFor]="menu" >
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu=matMenu>
          <button mat-menu-item disabled>{{ (user | async)?.email  }}</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </nav>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userMenu>
  <nav>
    <a mat-button routerLink="/register">REGISTER</a>
    <a mat-button routerLink="/login">SIGN IN</a>
  </nav>
</ng-template>


