/* You can add global styles to this file, and also import other style files */
body, html, .sidenav-container, .mat-toolbar
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4OWlrCvemU0NHodMmeUHOrA-Waxh7jIfeXA&usqp=CAU")
  width: 100%
  height: auto
